Package: python3-cap-ng-dbgsym
Source: libcap-ng
Version: 0.7.9-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 41
Depends: python3-cap-ng (= 0.7.9-1)
Section: debug
Priority: optional
Description: debug symbols for python3-cap-ng
Build-Ids: 5b21a66d7db19e5763bb480af756224c1de9a37f
