Package: libcap-ng-dev
Source: libcap-ng
Version: 0.7.9-1
Architecture: amd64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 385
Depends: libcap-ng0 (= 0.7.9-1)
Section: libdevel
Priority: optional
Homepage: http://people.redhat.com/sgrubb/libcap-ng
Description: Development and header files for libcap-ng
 This library implements the user-space interfaces to the POSIX
 1003.1e capabilities available in Linux kernels.  These capabilities are
 a partitioning of the all powerful root privilege into a set of distinct
 privileges.
 .
 The libcap-ng library is intended to make programming with POSIX
 capabilities much easier than the traditional libcap library.
