Package: python-cap-ng-dbgsym
Source: libcap-ng
Version: 0.7.9-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 41
Depends: python-cap-ng (= 0.7.9-1)
Section: debug
Priority: optional
Description: debug symbols for python-cap-ng
Build-Ids: e0724daa5f270e6ab8d157217443f69a54c1fa70
